#container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}

#menu-container {
    margin: 0px 20px;
}

#chart-container {
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0px;
}
