#container {
  position: absolute;
  width: 100%;
  display: flex;
}

#menu-container {
  margin: 0px 20px;
}

#chart-container {
  width: 100%;
}

#rack-container {
  width: 250px;
  margin: 0px 20px;
  text-align: center;
  #rack {
    height: 100%;
    width: 100%;
    text-align: left;
  }
}

div.stats {
  padding: 3px 3px;
  :first-child {
    font-weight: 600;
    margin-right: 5px;
  }
}

#header {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0px;
}

.cam-list {
  padding-top: 4px;

  > * {
    margin-bottom: 4px;
  }

  .cam-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > i.icon.plus,
    i.icon.minus {
      margin-bottom: 1px;
      cursor: pointer;
    }
  }
}

.cam-name-and-color {
  display: flex;
  align-items: center;
  > * {
    margin: 3px;
  }
}

.cam-color-preview {
  width: 1em;
  height: 1em;
}
